go 1.24.3

use (
	.
	./tools
)



// forks
replace (
	github.com/Code-Hex/vz/v3 => ../vz
	github.com/containerd/containerd/api => ../containerd/api
	github.com/containerd/containerd/v2 => ../containerd
	github.com/containerd/nerdctl/v2 => ../nerdctl
	github.com/containers/gvisor-tap-vsock => ../gvisor-tap-vsock
	github.com/moby/buildkit => ../buildkit
	github.com/containerd/ttrpc => ../ttrpc
	github.com/lmittmann/tint => ../tint
	github.com/containerd/nerdctl/mod/tigron => ../nerdctl/mod/tigron
)
